/* ### UTILITIES ### */

:root {
    --ms-header-: #2C3E50;
    --ms-jumbo-: #1ABC9C;
    --ms-pf-1: #BA4B63;
    --ms-pf-2: #1EA4B6;
    --ms-pf-3: #140F0F;
    --ms-pf-4: #1C83C1;
    --ms-pf-5: #0E38B5;
    --ms-pf-6: #CCB2A3;
    --ms-footer-dark-: #3A546D;
    --ms-footer-darker-: #2C3E50;
}

/* ### MAIN STYLE SHEET ### */

header {
    background-color: var(--ms-header-);
}

.jumbotron {
    background-color: var(--ms-jumbo-);
}

.portfolio {

    .c-1 {
        background-color: var(--ms-pf-1);
    }

    .c-2 {
        background-color: var(--ms-pf-2);
    }

    .c-3 {
        background-color: var(--ms-pf-3);
    }

    .c-4 {
        background-color: var(--ms-pf-4);
    }

    .c-5 {
        background-color: var(--ms-pf-5);
    }

    .c-6 {
        background-color: var(--ms-pf-6);
    }
}

.about {
    background-color: var(--ms-jumbo-);
}

footer {
    background-color: var(--ms-footer-dark-);

    >:nth-child(2) {
        background-color: var(--ms-footer-darker-);
    }
}

/* ### DEBUG SECTION ### */

/* .debug *{
    border: 1px dashed grey;
} */

.debug header {
    height: 90px;
}

.debug .jumbotron {
    height: 490px;
}

.debug [class*="col-lg"] {
    height: 360px
}

.debug .about {
    height: 700px;
}

.debug .contact-me {
    height: 600px;
}