/* ### UTILITIES ### */

:root {
    --ms-header-: #2C3E50;
    --ms-jumbo-: #1ABC9C;
    --text-darkest-: #333333;
    --ms-pf-1: #BA4B63;
    --ms-pf-2: #1EA4B6;
    --ms-pf-3: #140F0F;
    --ms-pf-4: #1C83C1;
    --ms-pf-5: #0E38B5;
    --ms-pf-6: #CCB2A3;
    --ms-footer-dark-: #3A546D;
    --ms-footer-darker-: #2C3E50;
}

.star_divider{
    vertical-align: super;
    font-weight: 800;
}

.font-space-1{
    letter-spacing: 1px;
}
.font-space-2{
    letter-spacing: 2px;
}
.fa-star{
    font-size: rem;
}

/* ### MAIN STYLE SHEET ### */

*{
    overflow-x: hidden;
}

header{
    background-color: var(--ms-header-);
}

section.jumbotron{
    background-color: var(--ms-jumbo-);

    & div.jumbotron {
        padding: 4% 0 5%;
        img{
            
            width: 250px;
        }
    }
}

.portfolio-head{
    padding: 10% 0;
}

div.portfolio {
    padding: 2%;
}

section.about {
    background-color: var(--ms-jumbo-);
}

div.contact-me{
    margin-bottom: 5%;

    & text-area{
        max-width: 100%;
        max-height: 100%;
    }

    .btn{
        background-color: var(--ms-jumbo-);
        color: #fff;
    }
}

footer {
    background-color: var(--ms-footer-dark-);

    >:nth-child(2) {
        background-color: var(--ms-footer-darker-);
    }

    .social{
        i{
            width: 60px;
        }
    }

    a.green{
        color: var(--ms-jumbo-);
        text-decoration: none;
    }
}


@media screen and (min-width: 768px) {
    .jumbotron{
        & .ms_card{
            & .ms_card-body{
                font-size: 150%;

                >h1{
                    font-size: 250%;
                }
            }
        }
    }
    
    .portfolio {
        padding: 2%;
        
        .portfolio-head{
            padding: 5% 0;
            .ms_card{

                h1{
                    font-size: 300%;
                }
            }
        }
    }

    .about{
        padding: 5% 10%;
        h1{
            font-size: 450%;
        }
    }
}

@media screen and (min-width: 1200px){
    .portfolio {
        padding: 2% 5%;
    }

}

/* ### DEBUG SECTION ### */

.debug *{
    border: 1px dashed grey;
}

.debug .jumbotron {
    height: 490px;
}

.debug [class*="col-lg"] {
    height: 360px
}

.debug .about {
    height: 700px;
}

.debug .contact-me {
    height: 600px;
}